$info-color: #2196f3;
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 18px;
    line-height: 1.45;
}
.logo-container {
    img {
        width: 160px;
    }
}
.ghost {
    display: none;
    z-index: -1;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#surveyElement {
    margin-top: 64px;
}
#surveyElement:empty {
    margin-top: 0;
}
.v-toolbar__title {
    max-width: 60%;
}
@media (min-width: 501px) {
    .v-toolbar__title {
        max-width: 100%;
    }
}
.sv-container-modern__title {
    padding-top: 1em;
}
.sv-logo--left {
    margin-right: 1em;
}
.sv-btn {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    vertical-align: middle;
    border: 0;
}
.sv-header__text {
    margin-top: 12px;
}
.sv-string-viewer {
    line-height: 1.45;
}
.sv-body__footer {
    margin-top: 1em;
}
.sv-footer__next-btn,
.sv-footer__prev-btn,
.sv-footer__complete-btn {
    padding: 8px 24px;
    font-size: 0.95em;
}
.sv-footer__complete-btn,
.sv-footer__next-btn {
    float: left;
    margin-left: 8px;
}
.info {
    position: relative;
    padding: 8px 32px;
    background: $info-color;
    color: #FFF;
    border-radius: 4px;
    &:after {
        content: '\24D8';
        display: block;
        position: absolute;
        top: 8px;
        left: 8px;
    }
}
.sv-completedpage {
    margin-top: 24px;
}
